hr{
	width: 200px;
	height: 3px;
	background-color: #000000;
}

.div_padre{
	/* border:1px solid black; */
	width: 641px;
	margin: auto;
	height: 425px
} 

div > div{
	display: inline-block;
	position: relative;
}

p{
	bottom: 0px;
	position: absolute;
	right: 0px;
	color: yellow;
}